name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch: # to trigger manually

permissions:
  contents: read

jobs:
  format:
    uses: ./.github/workflows/format.yaml
  test-local:
    uses: ./.github/workflows/test-local.yaml
  test-stable:
    uses: ./.github/workflows/test-stable.yaml
