name: Nightly Tests
on:
  schedule:
    - cron: "0 9 * * *" # run at 9:00 AM UTC
  workflow_dispatch: # to trigger manually

permissions:
  contents: read

jobs:
  format:
    uses: ./.github/workflows/format.yaml
  test-local:
    uses: ./.github/workflows/test-local.yaml
  test-stable:
    uses: ./.github/workflows/test-stable.yaml
