name: Test Stable Action

on:
  workflow_call:
  workflow_dispatch: # to trigger manually

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 2
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04,
            ubuntu-22.04,
            ubuntu-24.04-arm,
            ubuntu-22.04-arm,
            macos-latest,
            macos-26,
            macos-15,
            macos-14,
            macos-15-intel,
          ]
        python-version:
          ["3.14", "3.14t", "3.13", "3.13t", "3.12", "3.11", "3.10"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Verify Build
        uses: durandtibo/verify-uv-build-action@v0.0.7
        with:
          package-name: myproject
          python-version: ${{ matrix.python-version }}

  test-extra:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        dist-type: ["sdist", "wheel"]
        package-extra: ["", "all"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Verify Build
        uses: durandtibo/verify-uv-build-action@v0.0.7
        with:
          dist-type: ${{ matrix.dist-type }}
          package-name: myproject
          package-extra: ${{ matrix.package-extra }}
          package-dependencies: coola

  #################################
  #     Tests to check inputs     #
  #################################

  invalid-dist-type:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Call composite action with invalid value
        id: run_action
        uses: durandtibo/verify-uv-build-action@v0.0.7
        with:
          dist-type: tar
          package-name: myproject
        continue-on-error: true

      - name: Failure - it did not fail as expected
        if: steps.run_action.outcome != 'failure'
        run: |
          echo "❌ Error: Step should have failed but didn't!"
          exit 1

      - name: Success - it failed as expected
        if: steps.run_action.outcome == 'failure'
        run: echo "✅ Test passed - step failed as expected"

  missing-py-typed:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 2

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Remove py.typed
        run: |
          rm src/myproject/py.typed

      - name: Call composite action
        id: run_action
        uses: durandtibo/verify-uv-build-action@v0.0.7
        with:
          package-name: myproject
        continue-on-error: true

      - name: Failure - it did not fail as expected
        if: steps.run_action.outcome != 'failure'
        run: |
          echo "❌ Error: Step should have failed but didn't!"
          exit 1

      - name: Success - it failed as expected
        if: steps.run_action.outcome == 'failure'
        run: echo "✅ Test passed - step failed as expected"

  incorrect-extra:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 2

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Call composite action
        id: run_action
        uses: durandtibo/verify-uv-build-action@v0.0.7
        with:
          package-name: myproject
          package-extra: missing
        continue-on-error: true

      - name: Failure - it did not fail as expected
        if: steps.run_action.outcome != 'failure'
        run: |
          echo "❌ Error: Step should have failed but didn't!"
          exit 1

      - name: Success - it failed as expected
        if: steps.run_action.outcome == 'failure'
        run: echo "✅ Test passed - step failed as expected"

  incorrect-extra-skip:
    runs-on: ubuntu-latest
    continue-on-error: true
    outputs:
      action_failed: ${{ steps.run_action.outcome == 'failure' }}
    timeout-minutes: 2

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Call composite action
        id: run_action
        uses: durandtibo/verify-uv-build-action@v0.0.7
        with:
          package-name: myproject
          package-extra: missing
          verify-wheel-extra: false
          verify-sdist-extra: false
